#
.agents/
.claude/
.cursor/
agent/
packages/backend/supabase/seed.sql
packages/frontend/.agents/
packages/frontend/.claude/
packages/frontend/AGENTS.md
packages/frontend/agent/
packages/frontend/skills-lock.json
packages/frontend/src/utils/supabase/models/

.kiro

skills-lock.json
#
# dependencies
node_modules

# sst
.sst

# tmp files
.#*

# env 
.env*.local
.env

# opennext
.open-next

# cypress
packages/e2et/cypress/downloads/

# misc
.DS_Store

.idea
.ai

.venv

